### IDE ###
.idea

### Python ###
__pycache__/

### ENV ###
.env

### VENV ###
venv_microsoft

### Django ###
*.pyc

### Media ###


### Tests ###
.coverage

### BD ###
*.sqlite3

### Other ###
help.txt
tmp/
